<h1>Tus productos son:</h1>
<ul>
    {{#each carritoOrdenado}}
    <li>Nombre: {{nombre}}</li>
    <li>Descripción: {{descripcion}}</li>
    <li>Cantidad: {{cantidad}}</li>
    <br>
    {{/each}}
</ul>
<br>
<p>Volver a la página principal</p>
<a href="/">Home</a>